aws_region            = "eu-central-1"
project_name          = "goit-devops-final"
environment           = "dev"
db_password           = "DevOpsFinal_DbPass_2025!"
git_repository_url    = "https://github.com/Jaciubek/goit-neo-devops-final-project.git"
git_repository_branch = "main"
charts_repo_path      = "charts/django-app"
git_username          = "Jaciubek"
git_token             = "ghp_courseExampleTokenForPipelineDemoOnly"

tags = {
  Course      = "GOIT DevOps"
  Owner       = "Jaciubek"
  Environment = "dev"
}
